.audio-player{
  border: 5px solid rgba(255, 255, 255, 0.1); /* White border */
  border-radius: 15px; /* Rounded corners */
  /*padding: 20px; /* Space inside the border */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Subtle shadow for a nice effect */
  background-color: rgba(255, 255, 255, 0.1); /* Light background color */
  /* animation-play-state: paused; /*Initially paused */
}

.cover {
  overflow: hidden;
}

.cover img {
  width: 10vw;
  /* height: 200px; */
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
  /* animation: spin 10s infinite linear, glow 1s infinite linear; */
  animation: spin 10s infinite linear;
  /* animation: glow 1s infinite linear; */ 
  animation-play-state: paused; /* Initially paused */
  box-shadow: none; /* Initially no glow */
}

audio {
  width: 40vw;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* @keyframes glow {
  0% { transform: scale(100%); }
  50% { transform: scale(95%); }
  100% { transform: scale(100%); }
} */


